@tailwind base;
@tailwind components;
@tailwind utilities;

/* Açık mod (default) */
:root {
  --background: linear-gradient(to bottom right, #f0f4f8, #d9e4f5);
  --foreground: #171717;

  --card-bg: #ffffff;
  --card-text: #1f2937;
  --border-color: #d1d5db;
}

/* Karanlık mod */
.dark {
  --background: linear-gradient(to bottom right, #1f1c2c, #302b63, #24243e);
  --foreground: #ededed;

  --card-bg: #1e293b;
  --card-text: #ffffff;
  --border-color: #334155;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  transition: background 0.3s ease, color 0.3s ease;
}

/* Scrollbar özelleştirmesi */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
